certifi==2024.2.2 ; python_version >= "3.11" and python_version < "4.0"
cfgv==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
distlib==0.3.8 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.13.1 ; python_version >= "3.11" and python_version < "4.0"
identify==2.5.34 ; python_version >= "3.11" and python_version < "4.0"
idna==3.6 ; python_version >= "3.11" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==4.2.0 ; python_version >= "3.11" and python_version < "4.0"
pluggy==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
pre-commit==3.6.1 ; python_version >= "3.11" and python_version < "4.0"
pytest==7.4.4 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
responses==0.23.3 ; python_version >= "3.11" and python_version < "4.0"
setuptools==69.1.0 ; python_version >= "3.11" and python_version < "4.0"
types-pyyaml==6.0.12.12 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
virtualenv==20.25.0 ; python_version >= "3.11" and python_version < "4.0"
